@import "../../less/variabless";

.home {
  height: 100%;
  overflow: hidden;

  &-tape {
    height: 100%;
    width: 100%;

    &_item {
      height: 100%;
      width: 100%;
    }
  }

  &-intro {
    background-color: #ffce5a;
  }
}