@import "../../less/variabless";

.goro {
  color: green;
  transform: translateX(20px);

  @media @mobile {
    color: red;
  }

  @media @tablet {
    color: #000011;
  }

  @media @mobile-landscape {
    color: gold;
  }

  @media @tablet-landscape {
    text-decoration: underline;
  }

  @media @desktop {
    font-size: 20px;
  }

  @media @nodesktop {
    font-size: 30px;
  }
}